/*////////////////////////////
//////////////////////////////
BOARD GAME NAVIGATION ELEMENT
//////////////////////////////
////////////////////////////*/

ul#gameboard {
	width: 960px;
	height: 960px;
	background: #C8FFFC url(../images/gameboard.png) center center no-repeat;	
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
}

ul#gameboard li {
	padding: 0;
	margin: 0;
	list-style: none;
}

/*//////////////////////
SQUARES AROUND THE BOARD
//////////////////////*/

ul#gameboard li.square {
	display: block;
	width: 192px;
	height: 192px;
	position: absolute;
	text-align: center;
	font-size: 28px;
}
ul#gameboard li.square a {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	position: absolute;
	overflow: hidden;
	display: block;
	color: white;
	text-decoration: none;	
}

ul#gameboard li.square a span {
	display: block;
	width: 148px;
	height: 148px;
	opacity: 0;
	padding: 0px 20px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

ul#gameboard li.square:hover a span {
	opacity: 1;
}

/* Size and positions for horizontal squares */

ul#gameboard li.topSquare a, ul#gameboard li.bottomSquare a {
	width: 189px;
	height: 41px; 
}
ul#gameboard li.topSquare:hover a, ul#gameboard li.bottomSquare:hover a {
	height: 188px; 
}
ul#gameboard li.topSquare {
	top: 0; 
}
ul#gameboard li.bottomSquare {
	bottom: 0
}
ul#gameboard li.topSquare a {
	bottom: 2px; 
}
ul#gameboard li.bottomSquare a {
	top: 2px;
}

/* Size and positions for vertical squares */

ul#gameboard li.leftSquare a, ul#gameboard li.rightSquare a {
	height: 189px;
	width: 41px; 
}
ul#gameboard li.leftSquare:hover a, ul#gameboard li.rightSquare:hover a {
	width: 188px;
}
ul#gameboard li.leftSquare {
	left: 0;
}
ul#gameboard li.rightSquare {
	right: 0;
}
ul#gameboard li.leftSquare a {
	right: 2px;
}
ul#gameboard li.rightSquare a {
	left: 2px;
}

/* Positions for rows and columns */

ul#gameboard li.rowOne {
	top: 194px;	
}
ul#gameboard li.rowTwo {
	top: 386px;	
}
ul#gameboard li.rowThree {
	top: 578px;	
}
ul#gameboard li.colOne {
	left: 194px;	
}
ul#gameboard li.colTwo {
	left: 386px;	
}
ul#gameboard li.colThree {
	left: 578px;	
}

/* Colour Classes */

ul#gameboard li.red a {
	background: red;
}
ul#gameboard li.pink a {
	background: #ff4589;
}
ul#gameboard li.green a {
	background: #39ab38;
}
ul#gameboard li.blue a {
	background: #8adcff;
	color: black;
}
ul#gameboard li.yellow a {
	background: #fcee21;
	color: black;
}
ul#gameboard li.brown a {
	background: #8c6239;
}

/*////////////////////////////
HOT SPOTS FOR CENTRE OF BOARD
////////////////////////////*/

ul#gameboard li.hotSpot a {
	display: block;
	width: 100%;
	height: 100%;	
}

ul#gameboard li.hotSpot a span {
	position: absolute;
	top: -1000000px;
	left: -1000000px;	
}


/* No JS or old browser */

ul#gameboard li.hotSpot {
	display: block;
	position: absolute;
}

ul#gameboard #commSquare {
	width: 216px;
	height: 216px;
	top: 233px;
	left: 236px;
	z-index: 40;
}
ul#gameboard #logoSquare {
	width: 442px;
	height: 442px;
	top: 258px;
	left: 261px;
	z-index: 4;
}
ul#gameboard #factSquare {
	width: 216px;
	height: 216px;
	bottom: 235px;
	right: 233px;
	z-index: 40;	
}

/* When Modernizr is installed, hot spots are specifically sized and rotated to the button */

.csstransforms ul#gameboard li.hotSpot {
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.csstransforms ul#gameboard #commSquare {
	width: 180px;
	height: 128px;
	top: 277px;
	left: 254px;
}
.csstransforms ul#gameboard #logoSquare {
	width: 521px;
	height: 105px;
	top: 426px;
	left: 221px;
}
.csstransforms ul#gameboard #factSquare {
	width: 180px;
	height: 128px;
	bottom: 279px;
	right: 251px;
}
